<div id="page1-main">
    <div class="activity-notice">
        <img src="images/btn/p-1.png" alt=""/>
    </div>
    <ul class="select-btn">
        <li><a href="1">
            <img src="images/btn/btn-1.png" alt=""/>
        </a></li>
        <li><a href="2">
            <img src="images/btn/btn-2.png" alt=""/>
        </a></li>
        <li><a href="3">
            <img src="images/btn/btn-3.png" alt=""/>
        </a></li>
        <li><a href="4">
            <img src="images/btn/btn-4.png" alt=""/>
        </a></li>
        <li><a href="5">
            <img src="images/btn/btn-5.png" alt=""/>
        </a></li>
        <li><a href="6">
            <img src="images/btn/btn-6.png" alt=""/>
        </a></li>
        <li><a href="7">
            <img src="images/btn/btn-7.png" alt=""/>
        </a></li>
        <li><a href="8">
            <img src="images/btn/btn-8.png" alt=""/>
        </a></li>
        <li><a href="9">
            <img src="images/btn/btn-9.png" alt=""/>
        </a></li>
    </ul>
    <div class="activity-demand">
        <p>本活动仅限东风雪铁龙龙友汇</p>
        <p>7月31日前认证的车主参与</p>
    </div>
    <div class="page1-btn">
        <a id="page1-btn1" href="#">活动规则>></a>
        <a id="page1-btn2" href="#">我的幸运码>></a>
    </div>
</div>